.App{
  padding: 50px 100px;
}

.searchForm input{
  border: 2px solid #5f6caf;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 40px;
  margin-left: 38%;
}
.searchForm button {
  background-color: #5f6caf;
  color: #edf7fa;
  padding: 12px;
  font-size: 18px;
  border: 0;
}

.recipes-container {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
}

.recipe {
  width: 300px;
  height: 300px;
  overflow-y: scroll;
  padding: 25px;
  background-color: #edf7fa;
  position: relative;
}

.recipe:nth-child(odd) {
  background-color: #edf7fa;;
}

.recipe .title {
  font-size: 18px;
  margin-top: 20px;
  font-weight: 800;
 
}

.recipe .img {
  margin-right: 20px;
}

#title1{
  color: #ff8364;
  text-align: center;
  margin-bottom: 70px;
  font-weight: bold
}